{% extends 'base.html' %}
{% block content %}
    <h3>博文编辑页面</h3>
    <form action="" method="post">
        博文标题   <input type="text" name="title" autocomplete="off" required>
        <!-- 博文内容   <input type="text" name="content" autocomplete="off" required> -->
        作者       <input type="text" name="author" autocomplete="off" required>
        <input type="submit" class="btn" name="submit" value="更新">
        <textarea id="mytextarea" name="content"></textarea>
        
    </form>
{% endblock %}