{% extends 'base.html' %}

{% block content %}
<span class="label label-primary">{{ ariticles|length }} Titles</span>
<ul class="movie-list">
    {% for ariticle in ariticles %}
    <li>
        <p style="float: left"> 《{{ ariticle.title }}》  作者：{{ ariticle.author }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p class="text-right">{{ ariticle.pubdate }}</p><br>
        <p style="overflow: hidden; text-overflow:ellipsis; white-space: nowrap;">{{ ariticle.content }}</p>
        <div class="btn-group" style="float: right;margin-top: -55px;">
            <button type="button" class="btn btn-danger">操作</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
            <li><a href="#" style="text-align: center;">文章详情</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('edit',ariticle_id=ariticle.id) }}" style="text-align: center;">编辑</a></li>
            <li><form action="{{ url_for('delete',ariticle_id=ariticle.id) }}" method="post" style="text-align: center;">
                <input type="submit" class="btn" name='delete' value="删除" onclick="return confirm('确定删除吗？')">
                </form>
            {% endif %}
            </li>
            </ul>
        </div>

    </li>
    {% endfor %}
</ul>

{# 表单 #}
{% if current_user.is_authenticated %}
<form class="navbar-form navbar-left" role="search" method="POST">
    <input type="text" class="form-control" placeholder="博文名称" name="title" autocomplete="off" required>
    <!-- 博文内容   <input type="text" name="content" autocomplete="off" required> -->
    <input type="text" class="form-control" placeholder="作者" name="author" autocomplete="off" required>
    <input type="submit" class="btn btn-default" name="submit" value="添加">
    <textarea id="mytextarea" name="content"></textarea>
    
</form>
{% endif %}

<img class="hulu" src="{{ url_for('static',filename='images/2.jpg') }}" alt="">
{% endblock %}